@media (min-width: 700px) {
  .teamCard {
    width: 20vw;
    margin-left: auto;
    margin-right: auto;
  }

  .card-deck {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2vh;
    width: fit-content;
  }
}

#team {
  background-color: #F3F3F3;
  min-height: 100%;
}

.organiGram {
  margin: 3vh auto;
  width: 80%;
  height: 40vh;
  background-color: #3ca861;
}

.teamImgContainer{
  width: 100px;
  height: 100px;
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
}
