.header{
  background-color: #ccdfdf;
  padding: 0 0 !important;
  max-width: 100%;
  z-index: 9000;
}

.dropdown-menu{
  background-color: #ccdfdf !important;
}

.custom-switch{
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.dropdown-menu{
  min-width: 0 !important;
}

.nav-link{
  color: black !important;
  text-shadow: 0px 3px 6px #00000029;
  font-size: 15px;
}

.nav-link:hover{
  background-color: lightgrey;
}

.nav-item{
  margin-right: 0 !important;
}

.lHLogoHeader{
  width: 60px;
  height: 60px;
}

@media (max-width: 700px) {
  .navbar{
    padding: 0.5rem 0.5rem !important;
  }
}


@media (min-width: 700px){
  .navbar-brand{
    margin-right: 0!important;
  }
}

@media (min-width: 768px) {
  #basic-navbar-nav{
    height: 35px !important;
  }
}

.flag{
  height: 25px !important;
  width: 33px !important;
}

.languageForm{
  width: 110px !important;
}

#dropdown-basic{
  width: 80px;
  height: 50px;
}

@media (max-width: 768px){
  .horizontalCenter-sm{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
}
