.custom-switch{
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.dropdown-item{
  width: fit-content !important;
}

.dropdown-menu{
  min-width: 0 !important;
}


.nav-item{
  margin-right: 0 !important;
}

@media (min-width: 768px) {
  nav{
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }

  #basic-navbar-nav{
    height: 35px !important;
  }
}

.flag{
  height: 25px !important;
  width: 33px !important;
}

.languageForm{
  width: 110px !important;
}

#dropdown-basic{
  width: 80px;
  height: 50px;
}

@media (max-width: 768px){
  .horizontalCenter-sm{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
}
