.footer{
  height: fit-content;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #dee8e4;
  display: inline-block;
  padding-top: 20px;
}

.footerContent{
  width: 100vw;
  margin-bottom: 35px;
  /*display: flex;*/
  /*flex-direction: row;*/
  /*justify-content: space-evenly;*/
}

.footer-lh-logo {
  width: 128px;
  height: 128px;
  border-radius: 64px;
  background-color: white;
}

.footer h3{
  color: white !important;
}
.usmLogo{
  max-height: 10vh !important;
  height: 10vh;
}

.footerHighlight {
  font-weight: bold;
  color: #5b4c43;
  text-shadow: #5b4c43 0px 0px 1px;
  -webkit-font-smoothing: antialiased;
}

.myLink{
  color: white;
}

.myLink:hover{
  color: lightgrey;
}


.fa{
  padding: 10px;
  font-size: 30px !important;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin-right: 20px;
  border-radius: 10px;
}

.fa:last-child{
  margin-right: 0px !important;
}

.fa-facebook-footer{
  cursor: pointer;
  background: #3B5998;
  color: white;
}
.fa-twitter-footer {
  cursor: pointer;
  background: #55ACEE;
  color: white;
}
.fa-instagram-footer {
  cursor: pointer;
  background: #125688;
  color: white;
}

.footerItem{
  width: 100%;
}

@media (min-width: 768px) {
  .footerItem{
    width: 33%;
  }
}


