.resourceImage {
    width: 30em;
    height: 30em;
}

.jumbotronButtonContainer {
    margin: 5em auto;
}

.jumbotronButton {
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    background-color: #F6D1C8;
    margin: 0 !important;
}

@media (min-width: 700px) {
    .jumbotronButtonContainer {
        width: 50%;
    }
}

.topContainer{
    background-color: #FFF7E4;
}

.bottomContainer{
    background-color: #F3F3F3;
    min-height: 100vh;
    padding-bottom: 5vh;
}
